body {
  margin-top: 0;
  margin-left: 0px;
  margin-right: 0px;
}

header {
  background-color: rgb(67, 88, 31);
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

header a {
  color: black;
  font-size: 19px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

header ul li {
  display: inline-block;
  padding: 20px 
}

.post {
  background-color: rgb(15, 45, 15);
  color: lightgray;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 5px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 10px;
}

.post a {
  color: lightgrey;
  font-family: 'Times New Roman', Times, serif;
}

.postTitle label {
  font-size: 15px;
  font-weight: bold;
}

footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: darkolivegreen;
}

footer a {
  color: black;
  font-size: 16px;
  font-weight: bold;
}

