/* body-rect */

body {
  position: absolute;
  width: 1440px;
  height: 1024px;
  left: 0px;
  top: 0px;
  background: #CDF49C;
}

/* header-rect */

.header-rect {
  box-sizing: border-box;
  position: absolute;
  width: 1440px;
  height: 300px;
  left: 0px;
  top: 0px;
  background: #003B00;
  border: 10px solid #002B00;
}

/* Rectangle 4 */

.rectangle-4 {
  position: absolute;
  visibility: hidden;
  width: 240px;
  height: 150px;
  left: 240px;
  top: 75px;
  background: #FFFFFF;
}

/* Rectangle 16 */

.rectangle-16 {
  position: absolute;
  visibility: hidden;
  width: 100px;
  height: 100px;
  left: 310px;
  top: 100px;
  background: #D9D9D9;
}

/* Rectangle 9 */

.rectangle-9 {
  box-sizing: border-box;
  position: absolute;
  visibility: hidden;
  width: 240px;
  height: 150px;
  left: 960px;
  top: 75px;
  background: #000000;
  border: 1px solid #000000;
}

/* Rectangle 5 */

.rectangle-5 {
  position: absolute;
  visibility: hidden;
  width: 240px;
  height: 150px;
  left: 720px;
  top: 75px;
  background: #FFFFFF;
}

/* Rectangle 6 */

.rectangle-6 {
  box-sizing: border-box;
  position: absolute;
  visibility: hidden;
  width: 240px;
  height: 150px;
  left: 0px;
  top: 75px;
  background: #000000;
  border: 1px solid #000000;
}

/* Rectangle 8 */

.rectangle-8 {
  box-sizing: border-box;
  position: absolute;
  visibility: hidden;
  width: 240px;
  height: 150px;
  left: 480px;
  top: 75px;
  background: #000000;
  border: 1px solid #000000;
}

/* Rectangle 7 */

.rectangle-7 {
  box-sizing: border-box;
  position: absolute;
  visibility: hidden;
  width: 240px;
  height: 150px;
  left: 1200px;
  top: 75px;
  background: #FFFFFF;
  border: 1px solid #000000;
}

/* Rectangle 10 */

.rectangle-10 {
  position: absolute;
  visibility: hidden;
  width: 100px;
  height: 100px;
  left: 550px;
  top: 103px;
  background: #D9D9D9;
}

/* Rectangle 12 */

#rectangle-12 {
  position: absolute;
  visibility: hidden;
  width: 100px;
  height: 100px;
  left: 66px;
  top: 98px;
  background: #D9D9D9;
}

/* Rectangle 14 */

#rectangle-14 {
  position: absolute;
  visibility: hidden;
  width: 100px;
  height: 100px;
  left: 795px;
  top: 100px;
  background: #D9D9D9;
}

/* Rectangle 13 */

#rectangle-13 {
  position: absolute;
  visibility: hidden;
  width: 100px;
  height: 100px;
  left: 1030px;
  top: 100px;
  background: #D9D9D9;
}

/* Rectangle 15 */

#rectangle-15 {
  position: absolute;
  visibility: hidden;
  width: 100px;
  height: 100px;
  left: 1270px;
  top: 100px;
  background: #D9D9D9;
}

/* text-posts */
button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  outline: none;
}

.text-posts {
  position: absolute;
  width: 120px;
  height: 36px;
  left: 60px;
  top: 164px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

/* text-projects */
.text-projects {
  position: absolute;
  width: 120px;
  height: 36px;
  left: 300px;
  top: 164px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

/* text-about */
.text-about {
  position: absolute;
  width: 120px;
  height: 36px;
  left: 540px;
  top: 164px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

/* text-contacts */
.text-contacts {
  position: absolute;
  width: 120px;
  height: 36px;
  left: 785px;
  top: 164px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

/* text-create-account */
.text-create-account {
  position: absolute;
  width: 120px;
  height: 36px;
  left: 1020px;
  top: 173px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

/* text-login */
.text-login {
  position: absolute;
  width: 120px;
  height: 36px;
  left: 1260px;
  top: 164px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

/* posts-icon */
.posts-icon {
  position: absolute;
  width: 75px;
  height: 60.32px;
  left: 79px;
  top: 104px;
}

/* projects-icon */
.projects-icon {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 330px;
  top: 104px;
}

/* contacts-icon */
.contacts-icon {
  position: absolute;
  width: 50px;
  height: 35px;
  left: 820px;
  top: 124px;
}

/* login-icon */
.login-icon {
  position: absolute;
  width: 40px;
  height: 33px;
  left: 1300px;
  top: 117px;
}

/* create-account-icon */
.create-account-icon {
  position: absolute;
  width: 47px;
  height: 33px;
  left: 1053px;
  top: 117px;
}

/* about-icon */
.about-icon {
  position: absolute;
  width: 50px;
  height:10px; 
}

/* about-icon */
.about-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 575px;
  top: 116px;
  }
  
  /* project-1 */
  .project-1 {
  box-sizing: border-box;
  position: absolute;
  width: 690px;
  height: 300px;
  left: 20px;
  top: 320px;
  background: #2B4D11;
  border: 10px solid #083C00;
  }
  
  /* project-3 */
  .project-3 {
  box-sizing: border-box;
  position: absolute;
  width: 690px;
  height: 300px;
  left: 20px;
  top: 640px;
  background: #2B4D11;
  border: 10px solid #083C00;
  }
  
  /* project-2 */
  .project-2 {
  box-sizing: border-box;
  position: absolute;
  width: 690px;
  height: 300px;
  left: 730px;
  top: 320px;
  background: #2B4D11;
  border: 10px solid #083C00;
  }
  
  /* project-4 */
  .project-4 {
  box-sizing: border-box;
  position: absolute;
  width: 690px;
  height: 300px;
  left: 730px;
  top: 640px;
  background: #2B4D11;
  border: 10px solid #083C00;
  }

  /* botom-rect */
  .botom-rect {
    box-sizing: border-box;
    position: absolute;
    width: 1440px;
    height: 200px;
    left: 0px;
    top: 824px;
    background: #003B00;
    border: 10px solid #002B00;
  }