/* body-rect */

body {
  position: absolute;
  width: 1440px;
  height: 1024px;
  left: 0px;
  top: 0px;
  background: #CDF49C;
}

/* header-rect */

.header-rect {
  box-sizing: border-box;
  position: absolute;
  width: 1440px;
  height: 300px;
  left: 0px;
  top: 0px;
  background: #003B00;
  border: 10px solid #002B00;
}

button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  outline: none;
}

/* text-posts */
.text-posts {
  position: absolute;
  width: 120px;
  height: 36px;
  left: 60px;
  top: 164px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

/* text-projects */
.text-projects {
  position: absolute;
  width: 120px;
  height: 36px;
  left: 300px;
  top: 164px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

/* text-about */
.text-about {
  position: absolute;
  width: 120px;
  height: 36px;
  left: 540px;
  top: 164px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

/* text-contacts */
.text-contacts {
  position: absolute;
  width: 120px;
  height: 36px;
  left: 785px;
  top: 164px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

/* text-create-account */
.text-create-account {
  position: absolute;
  width: 120px;
  height: 36px;
  left: 1020px;
  top: 173px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

/* text-login */
.text-login {
  position: absolute;
  width: 120px;
  height: 36px;
  left: 1260px;
  top: 164px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

/* posts-icon */
.posts-icon {
  position: absolute;
  width: 75px;
  height: 60.32px;
  left: 79px;
  top: 104px;
}

/* projects-icon */
.projects-icon {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 330px;
  top: 104px;
}

/* contacts-icon */
.contacts-icon {
  position: absolute;
  width: 50px;
  height: 35px;
  left: 820px;
  top: 124px;
}

/* login-icon */
.login-icon {
  position: absolute;
  width: 40px;
  height: 33px;
  left: 1300px;
  top: 117px;
}

/* create-account-icon */
.create-account-icon {
  position: absolute;
  width: 47px;
  height: 33px;
  left: 1053px;
  top: 117px;
}

/* about-icon */
.about-icon {
  position: absolute;
  width: 50px;
  height:10px; 
}

/* about-icon */
.about-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 575px;
  top: 116px;
  }
  
  /* project-1 */
  .project-1 {
  box-sizing: border-box;
  position: absolute;
  width: 690px;
  height: 300px;
  left: 20px;
  top: 320px;
  background: #2B4D11;
  border: 10px solid #083C00;
  }
  
  /* project-3 */
  .project-3 {
  box-sizing: border-box;
  position: absolute;
  width: 690px;
  height: 300px;
  left: 20px;
  top: 640px;
  background: #2B4D11;
  border: 10px solid #083C00;
  }
  
  /* project-2 */
  .project-2 {
  box-sizing: border-box;
  position: absolute;
  width: 690px;
  height: 300px;
  left: 730px;
  top: 320px;
  background: #2B4D11;
  border: 10px solid #083C00;
  }
  
  /* project-4 */
  .project-4 {
  box-sizing: border-box;
  position: absolute;
  width: 690px;
  height: 300px;
  left: 730px;
  top: 640px;
  background: #2B4D11;
  border: 10px solid #083C00;
  }

  /* botom-rect */
  .bottom-rect {
    box-sizing: border-box;
    position: absolute;
    width: 1440px;
    height: 200px;
    left: 0px;
    top: 824px;
    background: #003B00;
    border: 10px solid #002B00;
  }

  a {
    color:#000000;
  }