<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="header-rect">
            <a href="/" id="posts-btn" class="text-posts">Posts</a>
            <a href="/?projects=projects" id="projects-btn" class="text-projects">Projects</a>
            <a href="/about" id="about-btn" class="text-about">About</a>   
            <a href="/create-account" id="create-account-btn" class="text-create-account">Create Account</a>
            <a href="/login" id="login-btn" class="text-login">Login</a>
        </div>
    </header>
    
    <main>
        <div id="main-div">  
            <img src="static/images/image.jpg"></p>
            <p>Name</p>
            <p>Age</p>
            <p>Knowledge</p>
            <p>Experience</p>
            <p>Interests</p>
            <p>Interests</p>
            <p>History</p>
        </div>
    </main>

    <footer>
        <div class="bottom-rect" id="bottom-rect">
            <h4>Contacts, Portfolio and Social Media</h4>
            <a href="https://lucasgrisac@gmail.com" target="_blank">gmail</a>
            <a href="https://github.com/lucascaovilla" target="_blank">github</a>
            <a href="https://www.linkedin.com/in/lucasgcaovilla/" target="_blank">linkedin</a>
        </div>
    </footer>
    
</body>
<script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>
    






        


