<!DOCTYPE html>  
 <html>  
<head>  
<title>Python Flask Login Form Using Bootstrap Modal with Ajax Jquery password hash and session</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>  
<body>  
     <div class="container" style="width:700px;">  
          <h3 align="center">Login to your blog account</h3><br /> 
          <br />  
          {% if session.logged_in %}
          <div align="center">  
               <h1>Welcome - {{session.username}}</h1><br />  
               <a href="/logout">Logout</a>  
          </div>  
          {% else %}  
          <div align="center">  
               <a data-target="#myModal" role="button" class="btn btn-warning" data-toggle="modal">Login</a>
          </div>  
          {% endif %}
     </div>
     <br />
             
     <div id="myModal" class="modal fade">  
          <div class="modal-dialog">  
     <!-- Modal content-->  
               <div class="modal-content">  
                    <div class="modal-header">  
                         <button type="button" class="close" data-dismiss="modal">×</button>  
                         <h4 class="modal-title">descr: Python Flask Login Form Using Bootstrap Modal with Ajax Jquery password hash and session</h4>  
                    </div>  
                    <div class="modal-body">  
                         <label>Username</label>  
                         <input type="text" name="username" id="username" class="form-control" />  
                         <br />  
                         <label>Password</label>  
                         <input type="password" name="password" id="password" class="form-control" />  
                         <br />  
                         <button type="button" name="login_button" id="login_button" class="btn btn-warning">Login</button>  
                    </div>  
               </div>  
          </div>  
     </div>
 
 <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
    
      </body>  
 </html>  