<DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
    
<body>
    <header>
        <div class="header-rect">
            <a class="text-posts" href="/">Posts</a>
            <a class="text-projects" href="/?projects=projects">Projects</a>
            <a class="text-about" href="/about">About</a>   
            <a class="text-create-account" href="/create-account">Create Account</a>
            
            {% if session.logged_in %}
            <a  class='text-logout' href="/logout">Logout</a>  
            </div>  
            {% else %}  
            <a class='text-login' data-target="#myModal" role="button" data-toggle="modal">Login</a>
            {% endif %}
                   
           <div id="myModal" class="modal fade">  
                <div class="modal-dialog">  
            <!-- Modal content-->  
                     <div class="modal-content">  
                          <div class="modal-header">  
                               <button type="button" class="close" data-dismiss="modal">×</button>  
                               <h4 class="modal-title">Login to your blog account</h4>  
                          </div>  
                          <div class="modal-body">  
                               <label>Username</label>  
                               <input type="text" name="username" id="username" class="form-control" />  
                               <br />  
                               <label>Password</label>  
                               <input type="password" name="password" id="password" class="form-control" />  
                               <br />  
                               <button type="button" name="login_button" id="login_button" class="btn btn-warning">Login</button>  
                          </div>  
                     </div>  
                </div>  
           </div>
        </div>
    </header>
    
    <main>
        <ul>
            {% for post in posts %}
                <li class="content post" id="post-{{post.id}}">
                    <a href="/post?id={{post.link}}"></a>
                    <p>{{post.title}}</p>
                    <p>{{post.text}}</p>
                </li>
            {% endfor %}

            {% for project in projects %}
                <li class="content project" id="project-{{project.id}}">
                    <a href="/project?id={{project.link}}"></a>
                    <p>{{project.title}}</p>
                    <p>{{project.description}}</p>
                </li>
            {% endfor %}
        </ul>
    
    </main>   
</body>
<script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>
    