<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
    
<body>
    <header>
        <div class="header-rect">
            <a href="/">Posts</a>
            <a href="/?projects=projects">Projects</a>
            <a href="/?about=about">About</a>
            
            {% if session.logged_in %}
            <a data-target="#create-post" data-toggle="modal">Create Post</a>
            <a href="/logout">Logout</a>
            {% else %}
            <a data-target="#create-account" data-toggle="modal">Create Account</a>
            <a data-target="#login" data-toggle="modal">Login</a>
            {% endif %}
                   
            <div id="create-account" class="modal fade">  
                <div class="modal-dialog">  
                    <div class="modal-content">  
                        <div class="modal-header">  
                               <button type="button" class="close" data-dismiss="modal">×</button>  
                               <h4 class="modal-title">Create your account blog account</h4>  
                        </div>  
                        <div class="modal-body">  
                            <label for="create-account-username">Username</label>
                            <input type="text" name="create-account-username" id="create-account-username" class="form-control" />  
                            <br />  
                            <label for="create-account-email">Email</label>
                            <input type="email" name="create-account-email" id="create-account-email" class="form-control" />  
                            <br />
                            <label for="create-account-password">Password</label>
                            <input type="password" name="create-account-password" id="create-account-password" class="form-control" />  
                            <br />  
                            <label for="create-account-confirm-password">Confirm Password</label>
                            <input type="password" name="create-account-confirm-password" id="create-account-confirm-password" class="form-control" />  
                            <br />  
                            <button type="button" name="create-account-button" id="create-account-button" class="btn btn-warning">Login</button>  
                        </div>  
                    </div>  
                </div>
            </div>

            <div id="login" class="modal fade">  
                <div class="modal-dialog">  
                    <div class="modal-content">  
                        <div class="modal-header">  
                               <button type="button" class="close" data-dismiss="modal">×</button>  
                               <h4 class="modal-title">Login to your blog account</h4>  
                        </div>  
                        <div class="modal-body">  
                            <label for="login-username">Username</label>  
                            <input type="email" name="login-username" id="login-username" class="form-control" />  
                            <br />
                            <label for="login-password">Password</label>  
                            <input type="password" name="login-password" id="login-password" class="form-control" />  
                            <br />
                            <button type="button" name="login-button" id="login-button" class="btn btn-warning">Login</button>  
                        </div>  
                    </div>  
                </div>
            </div>

            <div id="create-post" class="modal fade">  
                <div class="modal-dialog">  
                    <div class="modal-content">  
                        <div class="modal-header">  
                               <button type="button" class="close" data-dismiss="modal">×</button>  
                               <h4 class="modal-title">Create your own blog post</h4>  
                        </div>
                        <div class="modal-body">  
                            <label for="new-post-title">Title</label>
                            <input type="text" name="new-post-title" id="new-post-title" class="form-control" />  
                            <br />
                            <label for="new-post-text">Text</label>
                            <input type="email" name="new-post-text" id="new-post-text" class="form-control" />  
                            <br />
                            <button type="button" name="create-post-button" id="create-post-button" class="btn btn-warning">Login</button>  
                        </div>  
                    </div>  
                </div>
            </div>
        </div>
    </header>
    
    <main>
        <ul>
            {% for post in posts %}
                <li class="content post" id="post-{{post.id}}">
                    <a href="/post?id={{post.id}}"></a>
                    <p>{{post.title}}</p>
                    <p>{{post.text}}</p>
                </li>
            {% endfor %}

            {% for project in projects %}
                <li class="content project" id="project-{{project.id}}">
                    <a href="/project?id={{project.link}}"></a>
                    <p>{{project.title}}</p>
                    <p>{{project.description}}</p>
                </li>
            {% endfor %}

        </ul>

        {% if about %}
            <div id="main-div">  
                <img src="static/images/image.jpg" width="200"></p>
                <p>Here you will find my name</p>
                <p>all of the years passed and now i find myself older than a puppy</p>
                <p>Like the things i know already, such as breathing, standing and eating</p>
                <p>Here is my experience. Check my github and you'll find some nice stuff about me</p>
                <p>Here can be my interests. Somethings like i like air and water</p>
                <p>The full blablabla about my life and why I chose software developing as my career</p>
            </div>
        {% endif %}
        
        <!--
        <footer>
            <div class="bottom-rect" id="bottom-rect">
                <h4>Contacts, Portfolio and Social Media</h4>
                <a href="https://lucasgrisac@gmail.com" target="_blank">gmail</a>
                <a href="https://github.com/lucascaovilla" target="_blank">github</a>
                <a href="https://www.linkedin.com/in/lucasgcaovilla/" target="_blank">linkedin</a>
            </div>
        </footer> 
        -->
    </main>   
</body>
<script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>


    