
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> 
    </head>
    

    <header>
        <div class="header-rect">
            <form action="/" method="get">
                <i class="posts-icon"></i>
                <i class="projects-icon"></i>
                <i class="about-icon"></i>
                <i class="contacts-icon"></i>
                <i class="create-account-icon"></i>
                <i class="login-icon"></i>
                <button name="index" value="posts" class="text-posts">Posts</button>
                <button name="index" value="projects" class="text-projects">Projects</button>
                <button name="index" value="about" class="text-about">About</button>
                <button name="index" value="contacts" class="text-contacts">Contacts</button>
                <button name="index" value="create-account" class="text-create-account">Create Account</button>
                <button name="index" value="login" class="text-login">Login</button>
            </form>
        </div>
    </header>
    
    <body>        
        <main>
            <div id="main-div"><br></div>
        </main>
        
        <footer>
            <div class="bottom-rect">
                <h4>Contacts, Portfolio and Social Media</h4>
                <a href="https://lucasgrisac@gmail.com" target=”_blank”>gmail</a>
                <a href="https://github.com/lucascaovilla" target=”_blank”>github</a>
                <a href="https://www.linkedin.com/in/lucasgcaovilla/" target=”_blank”>linkedin</a>
            </div>
        </footer>
        <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
    </html>
    